<div class="container">
  <div class="first-margin default-padding box">
    <h2>Equipo nuevo</h2>
    <form>
      <div class="form-group">
        
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <label>Equipo</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-6">
          <label>Marca</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <label>Modelo</label>
          <input type="text" class="form-control">
        </div>
        <div class="col-6">
          <label>Serial</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <div class="row mt-3">
        <div class="col-6">
          <label>VS Placa</label>
          <input type="text" class="form-control">
        </div>
      </div>
      <button class="btn btn-primary my-3">Crear equipo</button>
    </form>
  </div>
</div>