
<div class="container">
	<div class="row">

		<div class="col-3 mr-auto my-5">
			<div class="form-group">
				<input class="form-control" name="concept" value="Concepto">
			</div>
			<div>
				<select class="form-control" id="exampleFormControlSelect1">
					<option selected>Proveedor</option>
				  <option>Salud Total</option>
				  <option>Virrey Solis</option>
				</select>
			</div>
			<input class="btn btn-primary mt-3" type="submit" value="Buscar">
		</div>

		<div class="col-9">
			<input class="btn btn-primary my-5" type="submit" value="Nuevo equipo">
			<div id="tabla">
				<div class="row">
					<div id="th" class="col-2">#</div>
					<div id="th" class="col-5">Nombre</div>
					<div id="th" class="col-5">Codigo</div>
				</div>
				<% @headquarters.each do |head| %>
					<a id="ti" href="/headquarters/show">
						<div id="tr" class="row">
							<div id="td" class="col-2"><%= head.id %></div>
							<div id="td" class="col-5"><%= head.name %></div>
							<div id="td" class="col-5"><%= head.code %></div>
						</div>
					</a>
				<% end %>
			</div>
		</div>
	</div>
</div>