

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
	<div class="container">
		<a class="navbar-brand" href="#">Inventario</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav">
		  <span class="navbar-toggler-icon"></span>
		</button>
		<div class="collapse navbar-collapse" id="navbarNav">
		  <ul class="navbar-nav ml-auto">
		    <li class="nav-item">
		      <a class="nav-link" href="#">Salir</a>
		    </li>
		  </ul>
		</div>
	</div>
</nav>

<div class="container">
	<div class="row">

		<div class="col-3 mr-auto my-5">
			<div class="form-group">
				<input class="form-control" name="concept" value="Concepto">
			</div>
			<div>
				<select class="form-control" id="exampleFormControlSelect1">
					<option selected>Proveedor</option>
				  <option>Salud Total</option>
				  <option>Virrey Solis</option>
				</select>
			</div>
			<input class="btn btn-primary mt-3" type="submit" value="Buscar">
		</div>

		<div class="col-9">
			<input class="btn btn-primary my-5" type="submit" value="Nuevo equipo">
			<table class="table table-hover">
			  <thead>
			    <tr>
			      <th scope="col">#</th>
			      <th scope="col">Nombre</th>
			      <th scope="col">Codigo</th>
			    </tr>
			  </thead>
			  <tbody>
			  	<% @headquarters.each do |head| %>
			  		<tr>
			  		  <th scope="row"><%= head.id %></th>
			  		  <td><%= head.name %></td>
			  		  <td><%= head.code %></td>
			  		</tr>
			  	<% end %>
			  </tbody>
			</table>
		</div>
	</div>
</div>